<%- include('partials/header') %>

<div class="container-login">
  <div class="row">
    <div class="col-md-6">
      <h2 class="auth-title">Login In</h2>
      <form class="form" action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-dark btn-block submit">Login</button>
      </form>
    </div>
    <div class="col-md-6 right">
      <div class="form-group oauth">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Log in with Google
        </a>
      </div>
      <div class="form-group oauth">
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
          <i class="fab fa-facebook"></i>
          Log in with Facebook
        </a>
      </div>
      <hr id="oauth-divider">
      <p class="auth-text">Do not have an account?</p>
      <a class="btn btn-block btn-outline-secondary btn-center" href="/register" role="button">Create an account</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
